In [0]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_squared_error 
from scipy import stats

In [211]:
#importing preprocesses data
df=pd.read_csv("Train.csv")
df.columns

Index(['<100', '<200', '<300', '<400', 'Age', 'Blood Glucose', 'Business',
       'Car', 'Charlson Index', 'Children', 'Cleaner', 'Clerk', 'Coma score',
       'Coronary Heart Disease', 'Deaths/1M', 'Diabetes', 'Diuresis', 'Driver',
       'Elevated', 'FT/month', 'Farmer', 'Female', 'HBB', 'HDL cholesterol',
       'Heart rate', 'Hypertension', 'Infect_Prob', 'Insurance', 'Legal',
       'Male', 'Manufacturing', 'NO', 'None', 'Normal', 'ONan', 'Platelets',
       'Public', 'Researcher', 'Sales', 'Stage-01', 'Stage-02', 'Walk', 'YES',
       'cases/1M', 'cnan', 'd-dimer', 'salary'],
      dtype='object')

In [212]:
#outlier detection and removal
z = np.abs(stats.zscore(df))
print(z)

[[0.57526661 0.57713472 0.57627252 ... 0.14679386 1.02492707 0.00775793]
 [1.73832441 0.57713472 0.57627252 ... 0.14679386 1.27333937 1.48907771]
 [0.57526661 0.57713472 1.7352901  ... 0.14679386 1.50877264 0.66612228]
 ...
 [1.73832441 0.57713472 0.57627252 ... 0.14679386 0.49918646 1.30897076]
 [0.57526661 0.57713472 1.7352901  ... 0.14679386 0.54108151 0.99530445]
 [0.57526661 0.57713472 0.57627252 ... 0.14679386 1.79907998 0.15683315]]

In [213]:
df=df[(z < 3).all(axis=1)]
df.shape

(8447, 47)

In [0]:
#data splitting
y=df['Infect_Prob']
X=df.drop('Infect_Prob',axis=1)

In [215]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=1)
print(X_train.shape)
print(X_test.shape)

(6757, 46)
(1690, 46)

In [0]:
def poly(X):
  p=PolynomialFeatures(degree=1)
  X=p.fit_transform(X)
  return X

In [217]:
X_train=poly(X_train)
X_test=poly(X_test)
X=poly(X)
X=pd.DataFrame(X)
X.head(10)

    0    1    2    3    4     5   ...   41   42   43   44     45         46
0  1.0  0.0  0.0  0.0  1.0  68.0  ...  0.0  1.0  2.0  0.0  233.0  1300000.0
1  1.0  1.0  0.0  0.0  0.0  64.0  ...  1.0  1.0  2.0  0.0  328.0   400000.0
2  1.0  0.0  0.0  1.0  0.0  19.0  ...  0.0  0.0  2.0  0.0  213.0   900000.0
3  1.0  0.0  1.0  0.0  0.0  33.0  ...  0.0  1.0  2.0  0.0  275.0  2300000.0
4  1.0  1.0  0.0  0.0  0.0  35.0  ...  0.0  1.0  2.0  0.0  216.0  1900000.0
5  1.0  0.0  0.0  0.0  1.0  61.0  ...  0.0  1.0  2.0  0.0  311.0  1600000.0
6  1.0  0.0  1.0  0.0  0.0  49.0  ...  0.0  1.0  2.0  0.0  242.0  1200000.0
7  1.0  0.0  1.0  0.0  0.0  44.0  ...  0.0  1.0  2.0  0.0  276.0   900000.0
8  1.0  0.0  0.0  1.0  0.0  41.0  ...  0.0  1.0  2.0  0.0  277.0  1400000.0
9  1.0  1.0  0.0  0.0  0.0  43.0  ...  0.0  1.0  2.0  0.0  203.0  1100000.0

[10 rows x 47 columns]

In [0]:
#model train
model=LinearRegression()
#model=Lasso(alpha=3.0,max_iter=3000)
model.fit(X,y)
y_pred_test=model.predict(X_test)
y_pred_train=model.predict(X_train)

In [219]:
#accuracy check
print(mean_squared_error(y_pred_train,y_train))
print(mean_squared_error(y_pred_test,y_test))

36.76237848313097
38.133957639856725

In [0]:
'''from sklearn.ensemble import RandomForestRegressor   
model=RandomForestRegressor(n_estimators=30,max_depth=3)
model.fit(X,y)
y_pred_test=model.predict(X_test)
y_pred_train=model.predict(X_train)'''

In [0]:
#importing test data for 20th and 27th
dft_20=pd.read_csv("Test_20th.csv")
dft_27=pd.read_csv("Test_27th.csv")
pid=pd.read_excel("Test_dataset.xlsx")
dft_20=poly(dft_20)
dft_27=poly(dft_27)

In [0]:
#making prediction from existing model
ft_20=model.predict(dft_20)
ft_27=model.predict(dft_27)

In [0]:
fi_20=pd.DataFrame()
fi_20.insert(0,'people_ID',pid['people_ID'],True)
fi_20.insert(1,'Infect_Prob',ft_20,True)
fi_27=pd.DataFrame()
fi_27.insert(0,'people_ID',pid['people_ID'],True)
fi_27.insert(1,'Infect_Prob',ft_27,True)

In [223]:
fi_20.head(100)

    people_ID  Infect_Prob
0        5942    53.336909
1       18664    52.411428
2        5603    52.995371
3        5649    53.158717
4        5099    53.108688
..        ...          ...
95      18489    52.089091
96       6299    57.880956
97      18428    52.291831
98       5563    57.332228
99      18796    57.280845

[100 rows x 2 columns]

In [224]:
fi_27.head(100)

    people_ID  Infect_Prob
0        5942    53.447694
1       18664    52.527122
2        5603    53.118383
3        5649    53.225781
4        5099    53.181495
..        ...          ...
95      18489    52.163472
96       6299    57.999058
97      18428    52.340740
98       5563    57.449312
99      18796    57.344204

[100 rows x 2 columns]

In [0]:
#saving the final result
fi_20.to_csv("20th_Probability.csv",index=False)
fi_27.to_csv("27th_Probability.csv",index=False)