In [0]:
import numpy as np
import pandas as pd
from statsmodels.tsa.api import VAR
from statsmodels.tsa.stattools import adfuller

In [0]:
#importing data
df=pd.read_excel("Train_dataset.xlsx",sheet_name="Diuresis_TS")
df.drop("people_ID",axis=1,inplace=True)

In [9]:
df=df.transpose()
df.head(100)

                           0           1      ...        10712       10713
2020-03-20 00:00:00   441.000000  151.000000  ...   352.000000  181.000000
2020-03-21 00:00:00   544.200000  197.200000  ...   438.400000  230.200000
2020-03-22 00:00:00   669.640000  253.240000  ...   542.680000  290.440000
2020-03-23 00:00:00   821.368000  321.688000  ...   665.816000  366.328000
2020-03-24 00:00:00  1002.241600  399.925600  ...   814.679200  455.293600
2020-03-25 00:00:00  1215.689920  492.910720  ...   990.615040  559.352320
2020-03-26 00:00:00  1472.627904  606.892864  ...  1204.138048  686.622784

[7 rows x 10714 columns]

In [10]:
#building var model
model = VAR(df)
model_fitted = model.fit(5)
fr_cast_7=model_fitted.forecast(model_fitted.y,steps=1)

/usr/local/lib/python3.6/dist-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  % freq, ValueWarning)
/usr/local/lib/python3.6/dist-packages/statsmodels/base/wrapper.py:35: FutureWarning: y is a deprecated alias for endog, will be removed in version 0.11.0
  obj = getattr(results, attr)

In [11]:
fr_cast_7

array([[1782.01306768,  743.67389315, 1691.25336339, ...,  827.62643709,
        1461.04804906,  839.44056585]])

In [12]:
df7=pd.DataFrame()
df7.insert(0,"Today",df.iloc[0,:],True)
df7.insert(1,"27th",np.transpose(fr_cast_7),True)
df7.head(100)

    Today         27th
0   441.0  1782.013068
1   151.0   743.673893
2   416.0  1691.253363
3   410.0  1659.047137
4   390.0  1594.512900
..    ...          ...
95  129.0   653.745441
96  134.0   670.207115
97  149.0   733.597364
98  349.0  1447.463111
99  356.0  1468.192152

[100 rows x 2 columns]

In [0]:
c=0
def adfuller_test(series, signif=0.05, name='', verbose=False):
    global c
    r = adfuller(series, autolag='AIC')
    output = {'test_statistic':round(r[0], 4), 'pvalue':round(r[1], 4), 'n_lags':round(r[2], 4), 'n_obs':r[3]}
    p_value = output['pvalue'] 
    def adjust(val, length= 6): return str(val).ljust(length)
    if p_value <= signif:
        c+=1
        return 1
    else:
        return 0

In [0]:
dt=pd.read_excel("Test_dataset.xlsx")

In [17]:
dt['Diuresis'].head(10)

0    388
1    409
2    440
3    206
4    229
5    340
6    176
7    287
8    373
9    442
Name: Diuresis, dtype: int64

In [18]:
n=len(dt)
#print(min(abs(df7['Today']-dt['Diuresis'][0])))
s=0
ds7=dt['Diuresis'].copy()
for i in range(0,n):
  s=abs(df7['Today']-dt['Diuresis'][i])
  j=np.where(s==min(s))
  st=[]
  for ii in j:
    st.append(df7['27th'][ii])
  dt['Diuresis'][i]=np.median(st)
ds7

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

0        388
1        409
2        440
3        206
4        229
        ...
14493    417
14494    199
14495    161
14496    174
14497    126
Name: Diuresis, Length: 14498, dtype: int64

In [0]:
#saving result
dt.to_csv("test_27.csv",index=False)

In [20]:
dt.head(100)

    people_ID Region  Gender  ... Insurance   salary FT/month
0        5942  Delhi  Female  ...   3900000  1300000        1
1       18664  Delhi    Male  ...   1800000  1300000        1
2        5603  Delhi  Female  ...   5000000  2000000        2
3        5649  Delhi  Female  ...   3100000   600000        2
4        5099  Delhi  Female  ...   2300000  1500000        1
..        ...    ...     ...  ...       ...      ...      ...
95      18489  Delhi    Male  ...   2900000  1100000        1
96       6299  Delhi  Female  ...   3700000   700000        1
97      18428  Delhi    Male  ...   1400000  2100000        2
98       5563  Delhi  Female  ...   1400000  1700000        0
99      18796  Delhi    Male  ...    900000  1600000        2

[100 rows x 27 columns]